body{
    background-color: antiquewhite;
}

/* Quote Box */

.heading{
    text-align: center;
    margin-top: 50px;
}

#box{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 60px;
    border: 2px solid;
    border-color: black;
    margin-top: 150px;
    display: flex;
}

#quote{
    text-align: center;
}

#button-box{
    margin-top: 20px;
    height: 100px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.button{
    height: 40px;
    width: 60px;
}


/* Hero Converter */

#input{
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

#select{
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

#btn-go{
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

#answer{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

#unit{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}


/* Part02 */

.content{
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    width: 500px;
    margin-top: 70px;
}

.first-line{
    display: flex;
}


/* part03 */

.part03{
    height: 800px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}