body{
    background-color: antiquewhite;
}

#box{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 60px;
    border: 2px solid;
    border-color: black;
    margin-top: 200px;
}

#quote{
    text-align: center;
}

#button-box{
    margin-top: 20px;
    height: 100px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.button{
    height: 40px;
    width: 60px;
}

